doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href='./style.css')

  body
    main.container
      article.card.shadow
        h1.card__title Simple Card
        p.card__paragraph
          | Create high performance shadow effect with opacity and transform.
        p.card__paragraph ---

      article.card.shadow
        h1.card__title Simple Card
        p.card__paragraph
          | Create high performance shadow effect with opacity and transform.
        p.card__paragraph ---

      article.card.shadow
        h1.card__title Simple Card
        p.card__paragraph
          | Create high performance shadow effect with opacity and transform.
        p.card__paragraph ---
